<nav>
  <div>
    <a class= "navbar-brand" href="a"><</a>
    <i class="fa fa futbol-o">&nbsp;</i>{{ title }}
   
  <ul class="nav navbar-nav">
    <li class="navitem pull-left">
      <a class="nav-link active" href=""routerLink="standing">Standing</a>
    </li>
    <li>
      <a class="nav-link" href="" routerLink="scorings">Scorings</a>
    </li>
    <li class="nav-item float-xs-right">
      <a class="nav-link" href="">Admin</a>
    </li>
  </ul>
  </div>
</nav>
<p sytle="margin-left:20px;">

<router-outlet></router-outlet>
</p>
